DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
ERP_TIME_ZONE=Asia/Kolkata
ERP_DATE_FORMAT=%d-%m-%Y
ERP_EXPORT_DATE_FORMAT=%Y-%m-%d
ERP_COMPANY_NAME=SAINI ENTERPRISES.
ERP_COMPANY_ADDRESS=2458,SEWAK PURA,KALSIAN ROAD,LUDHIANA
ERP_COMPANY_MAIN_ADDRESS=2458,SEWAK PURA,KALSIAN ROAD,LUDHIANA
ERP_COMPANY_GSTIN=03AKCPK1161E1ZW
USE_POSTGRES=1
POSTGRES_DB=erp_phase1
POSTGRES_USER=erp
POSTGRES_PASSWORD=erp
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_EXPOSE_PORT=5432
