DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
ERP_TIME_ZONE=Asia/Kolkata
ERP_DATE_FORMAT=%d-%m-%Y
ERP_EXPORT_DATE_FORMAT=%Y-%m-%d
USE_POSTGRES=1
POSTGRES_DB=erp_phase1
POSTGRES_USER=erp
POSTGRES_PASSWORD=erp
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_EXPOSE_PORT=5432
